/* <!-- google fonts are here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* random style  */
body{
    font-family: Roboto;
    background-color: #F3F1FF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* top player style  */
html {
    font-size: 60%;
  }
  /* header----player----container */
  .container {
    max-width: 1080px;
    margin: 0px auto;
    display: flex;
    
  }
  .header-image {
    width: 100%;
    transition: 1.5s ease-in;
}
.header-image:hover {
  transform: rotate(360deg) scale(.60);
  position: relative;
}

  h1 {
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 8rem;
    transition: 1.5s ease-out;
    transform:translateY(0em);
  }
  
  .btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2.4rem;
    margin-top: 2.7rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  
  .btn-primary {
    background-color: #e02c6d;
  }
  
  /*  Header Section */
  #header {
    background-color: #24279c;
    color: #fff;
    padding: 8.6rem 0;
  }
  
  .header-info {
    display: flex;
  }
  .header-text {
    width: 485px;
    margin-top: 5.5rem;
    padding-left: 1rem;
  }
  
  .fa-arrow-right {
    margin-left: 0.8rem;
  }
  
  .header-image {
    width: 556px;
    padding-left: 11rem;
    margin-left: 2rem;
  }
  .header-image img {
    width: 100%;
  }
  
  /* Players Info Section */
  
  #main {
    margin: 7rem 0;
  }
  
  .players-info {
    display: grid;
    padding: 15px;
    background: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 2.7rem;
    grid-column-gap: 3rem;
  }
  .player-single {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
  }
  .player-single img {
    width: 100%;
  }
  .player-single h2 {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 4rem;
    color: #18191f;
    margin-top: 1.6rem;
  }
  .player-single p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #6c6c6c;
    margin-top: 1rem;
  }
  .title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
/* Robarto Carlos Free-Kick Added */
.video{
  display: flex;
  justify-content: center;
}
.video-text{
  text-align: center;
  font-size:1.4rem;
}
/* Fifa-Sponsors */
.sponsor{
   display: inline;
   justify-content: space-between;
   flex-wrap: wrap;
   padding:  66px;
}
.our-sponsors img{
    width: 90px;
    height: 50px;
}
  /* Footer  */
  footer {
    padding: 6rem 0;
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-info img {
    width: 480px;
  }
  
  .social-icon i {
    padding: 1rem 1.5rem;
    font-size: 2rem;
  }
  /* icons color  */
  .fa-facebook{
      color:dodgerblue;
  }
  .fa-instagram{
      color:crimson ;
  }
  .fa-twitter-square{
      color:deepskyblue;
  }
  .fa-linkedin{
      color: dodgerblue;
  }
  .copy {
    font-size: 1.8rem;
  }
  .fa-copyright{
    color: midnightblue;
  }
  /* Responsive Media Added For Mobile */
  @media only screen and (max-width:688px) {
    .header{
        height: 100%;
        justify-content: center;
}
    .players-info{
        grid-template-columns: repeat(1,1fr);
    }
  }